.heroWrap {
  margin-bottom: 9.6rem;

  @media (max-width: 768px) {
    margin-bottom: 4.8rem;
  }
}

.copyWrap {
  position: relative;
  z-index: 10;

  width: fit-content;
  margin: 4.8rem 0;

  span {
    font-weight: bold;
    color: var(--brand)
  }
}

.title {
  font-size: var(--text-2xl);
  font-weight: 900;
  line-height: 1.1;

  @media (max-width: 768px) {
    font-size: var(--text-xl);
  }
  
  transition: all .3s;
}

.subTitle {
  font-size: var(--text-lg);
  line-height: 1.1;
  margin-top: 1.6rem;
  font-weight: 200;
}

.aboutText {
  font-size: var(--text-md);
  margin-top: 1.6rem;
  font-weight: 200;
  max-width: 700px;

  @media (max-width: 768px) {
    font-size: var(--text-sm);
  }
}