.headerLinks {
  display:flex;
  flex-direction: column;
  gap: 1.6;
  padding-top: 10px;

  a { 
    margin-top: 1rem;
    opacity: .5;
    position: relative;
  }
  
  a:hover {
    color: var(--brand);
    opacity: 1;
  }

  p {
    font-size: var(--text-xs);
  }
}
