.headerLinks {
  display:flex;
  gap: 1.6;
  padding-top: 10px;

  a { 
    margin: 0 .5rem;
    opacity: .5;
    position: relative;
  }
  
  a:hover {
    color: var(--brand);
    opacity: 1;
  }

  p {
    font-size: var(--text-xs);
  }
}
