.headerLinks {
  
  a { 
    margin-top: 1rem;
    opacity: .5;
    position: relative;
  }
  
  a:hover {
    color: var(--brand);
    opacity: 1;
  }

  @media (max-width: 768px) {
    a {
      margin: 0;
    }
  }
}
